/* Reset default margin and padding for body and all elements */
body, h1, p, form, img {
    margin: 0;
    padding: 0;
}

/* Center the content vertically */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Styling for the result div */
#result {
    text-align: center;
    margin-bottom: 20px;
}

/* Styling for the prediction text */
#result p {
    font-size: 18px;
    font-weight: bold;
}

/* Styling for the form */
form {
    text-align: center;
}

/* Styling for the file input and submit button */
input[type="file"], button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

/* Styling for the submit button */
button {
    background-color: #008CBA;
}

/* Styling for the download link */
#downloadLink {
    display: none;
    color: #008CBA;
    text-decoration: none;
    margin-top: 10px;
}

/* Styling for the result image */
#resultImage {
    max-width: 100%;
}
